{{!< default}}

{{#post}}

<main id="gh-main" class="gh-main gh-outer">

    <div class="gh-inner">

        <article class="gh-article gh-latest {{post_class}}">

            {{#match @page.show_title_and_feature_image}}
                <header class="gh-article-header">
                    {{#is "post"}}
                        <span class="gh-article-meta">
                            {{#primary_author}}By <a href="{{url}}">{{name}}</a>{{/primary_author}}
                            {{#if primary_tag}}
                                in
                                <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                            {{/if}}
                            —
                            <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                        </span>
                    {{/is}}

                    <h1 class="gh-article-title">{{title}}</h1>

                    {{#if custom_excerpt}}
                        <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                    {{/if}}

                    {{> "feature-image"}}
                </header>
            {{/match}}
        </article>

        <div class="gh-wrapper">
            <section class="gh-section">
                <article class="gh-article {{post_class}}">
    
                        <h2 class="gh-section-title">{{title}}</h2>

                        <div class="gh-content gh-canvas gh-post-content">
                            {{content}}
                        </div>
                </article>
            </section>

            <aside class="gh-sidebar">

                <section class="gh-section">
                    <h2 class="gh-section-title">Micro News</h2>                            
                    <div class="matrix">
                        <a class="element-logo" href="https://app.element.io" target="_blank">
                            {{> "icons/element"}}
                        </a>
                        <a class="matrix-logo" href="https://matrix.org/" target="_blank">
                            {{> "icons/matrix"}}
                        </a>
                        <div id="matrix-handle"></div>
                    </div>
                    <div id="matrix">
                        <span class="tooltip">SCROLL</span>
                    </div>
                    <p class="gh-signup-description">
                        <strong>-> Matrix Live: <em><span class="matrix-access"></em></span>
                        </strong>
                    </p>
                </section>

            </aside>

        </div>
    </div>
</main>

{{/post}}